.titlePage {
  font-weight: 700;
  color: var(--blue);
}

.acceptanceTerm {
  position: relative;
}

.acceptanceTerm label {
  margin-left: 1.5rem;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;

  background-color: var(--gray-light);
  border-radius: 0.5rem;

  cursor: pointer;
}

.checkmark:hover {
  background-color: var(--gray);
}

input:checked~.checkmark {
  background-color: var(--blue);
}

.checkmark:after {
  content: "";
  position: absolute;

  display: none;

  left: 0.8rem;
  top: 0.2rem;

  width: 5px;
  height: 10px;

  border: solid white;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

#termPayment:checked~.checkmark:after {
  display: block;
}


/* List item screen */
.itemList {
  margin-top: 3rem;
}

.titleItem {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--blue);
}

.valueItem {
  font-size: 1.6rem;
  color: var(--gray);
}

#termPayment {
  margin-block: 3rem;
  visibility: hidden;
}